.button {
    padding: 12px 30px;

    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;

    &:hover {
        opacity: .7;
        cursor: pointer;
    }

    text-decoration: none;
}

.accent {
    background-color: #3C6CCE;
    border: none;
    color: #FFFFFF;
}

.not-accent {
    background-color: #FFFFFF;
    border: 1px solid #E2E9F8;
    color: #3C6CCE
}

.anchor {
    letter-spacing: 0.75px;
    color: #3C6CCE;
    border: none;
}