.success {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    border-radius: 4px;

    box-sizing: border-box;
    width: 464px;
}

.logo {
    margin-bottom: 24px;
}

.title {
    margin-bottom: 32px;
}

.paragraph {
    margin-bottom: 32px;
}

.button-box {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: center;
}