.paragraph {
    border: 2px solid #DDE1E2;
    border-right: none;
    border-left: none;
    padding: 16px;

    text-align: center;

    font-family: PT Root UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

a {
    color: inherit;
}