.input-container {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.label {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #060C32;

    margin-bottom: 8px;
}

.children {
    box-sizing: border-box;
    width: 100%;
}