.input-container {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.75px;

    margin-bottom: 8px;
}

.children {
    box-sizing: border-box;
    width: 100%;
}