.memo-box-1 {
    margin-bottom: 40px;
}

.box {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 32px;
}

.memo-box-2 {
    margin: -4px 0 16px;
}

.status-text {
    margin: -4px 0;
}
