.memo-box-1 {
    margin-bottom: 40px;
}

.box {
    display: flex;
    justify-content: space-between;
    column-gap: 64px;
    margin-bottom: 32px;

    @media (max-width: 464px) {
        flex-wrap: wrap;
        gap: 0px;
        row-gap: 32px;
    }
}

@media (max-width: 464px) {
    .inner {
        box-sizing: border-box;
        width: 100%;
    }

    .qr {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.memo-box-2 {
    margin: -4px 0 16px;
}

.status-text {
    margin: -4px 0;
}
