.eyebrow {
    position: absolute;
    top: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 19px;

    display: flex;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.inner {
    display: flex;
    align-items: center;
    gap: 12px;

    font-family: 'PT Root UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.x {
    justify-self: flex-end;
}