.wrapper {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
}

.select-amount-content {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.select-amount-content section {
    display: flex;
    flex-grow: 1;
}

.input-container-wrapper {
    box-sizing: border-box;
    width: 100%;
}
