.wrapper {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
}

.select-amount-content {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-between;
    row-gap: 12px;
}

.input-container-wrapper {
    box-sizing: border-box;
    width: 100%;
}
