.template {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    border-radius: 4px;

    box-sizing: border-box;
    width: 464px;

    font-family: 'PT Root UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #060C32;
}

.header {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 32px;
}

.content {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 32px;
}

.button-box {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.alone-button {
    justify-content: center;
}

.w400 {
    width: 400px;
}
.w464 {
    width: 464px;
}