.content {
    box-sizing: border-box;
    width: 100%;

    border-top: 2px solid #27AE60;
}

.thanks-for-payment {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;

    font-family: 'PT Root UI';
    font-style: normal;
    color: #060C32;

    margin-bottom: 24px;

    &_title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;

        margin-top: 16px;
        margin-bottom: 12px;
    }

    &_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
    }
}

.thanks-for-payment_img {
    padding-top: 16px;
    padding-left: 60px;

    @media (max-width: 464px) {
        padding-left: 10px;
    }
}

.stripe {
    display: flex;
    justify-content: space-between;

    font-family: 'PT Root UI';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #060C32;

    margin-bottom: 12px;
}

.key {
    line-height: 20px;
    font-weight: 500;

    max-width: 35%;
}

.value {
    line-height: 20px;
    font-weight: normal;

    max-width: 65%;
    text-align: right;
}

.status-completed {
    font-weight: 500;
    color: #27AE60;
}

.under-line {
    border-top: 2px solid #DDE1E2;
}

.total {
    font-weight: 500;
    line-height: 18px;

    margin-top: 12px;
    margin-bottom: 10px;
}

.btc {
    font-weight: 400;
    line-height: 18px;
}

.dl-box {
    display: flex;
    align-items: center;
}

.dl-icon {
    position: relative;
    right: 8px
}